- return unless Gitlab.com?

- minutes_quota = namespace.ci_minutes_quota
- return unless minutes_quota.display_minutes_available_data? && minutes_quota.purchased_minutes_report.limit > 0

.row
  .col-sm-6
    %strong
      = _("Additional minutes")
    %div
      = ci_minutes_report(minutes_quota.purchased_minutes_report)
      minutes
      = link_to sprite_icon('question-o'), help_page_path('subscriptions/gitlab_com/index', anchor: 'purchase-additional-ci-minutes'), target: '_blank', rel: 'noopener noreferrer'
  .col-sm-6.right
    #{minutes_quota.purchased_percent_used}% used
    = ci_minutes_progress_bar(minutes_quota.purchased_percent_used)
